/*ilustraciones*/
.ilustraciones{
margin-bottom: 90px;
}

.ilustraciones img{
margin: 30px;
margin-top: 0px;
padding: 20px;
width: 32%;
}

.ilustraciones img:hover{
transform: scale(1.2, 1.2);
transition: 1s;
}

.fotoperfil{
margin-bottom: 40px;
}

#carouselExampleInterval{
width: 80%;
height: 80%;
margin-left: 10%;
padding: 40px;
}

.botoncarousel{
width: 20px;
height: 20px;
}

.tarjetas{
height: 800px;
margin-left: 18%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: "tarjetas tarjetas"
"tarjetas tarjetas";
row-gap: 1rem;
align-items: center;
}

#imgsocial {
width: 45px;
height: 45px; }

.logo{
width: 15%;
}