@media only screen and (max-width: 576px){

/*heading*/
.tituloIndex{
font-size: 60px;
}

.parrafoIndex{
margin: 10px;
}

/*ilustraciones*/
.ilustraciones{
margin-bottom: 0px;
}

.ilustraciones img{
width: 80%;
}

.ilustraciones img:hover{
transform: scale(1, 1);
transition: 1s;
}

.social {
display: none;
}

.tarjetas{
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
margin: 0px;
}

.logo{
width: 25%;
}

#carouselExampleInterval{
width: 100%;
height: 100%;
margin-left: 0%;
padding: 0%;
}

/*foooter*/
.footer {
background-image: url(/imagenes/fondo2.jpg);
width: 100%;
height: 200px;
padding: 30px 60px;
padding-top: 60px;
margin-bottom: 30px;
display: flex;
flex-direction: column;
}
}

@media only screen and (max-width: 1200px){
/*heading*/
.tituloIndex{
font-size: 60px;
}

/*ilustraciones*/
.ilustraciones{
margin-bottom: 0px;
}

.ilustraciones img{
width: 80%;
}

.ilustraciones img:hover{
transform: scale(1, 1);
transition: 1s;
}

.social {
display: none;
}

.tarjetas{
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
margin: 0px;
}

.logo{
width: 15%;
}

#carouselExampleInterval{
width: 100%;
height: 100%;
margin-left: 0%;
padding: 0%;
}

/*foooter*/
.footer {
background-image: url(/imagenes/fondo2.jpg);
width: 100%;
height: 200px;
padding: 30px 60px;
padding-top: 60px;
margin-bottom: 30px;
display: flex;
flex-direction: column;
}
}
